body {
  margin: 0px;
  overflow: hidden;
}

circle {
  fill: blue;
  opacity: 0.4;
}

circle:hover {
  fill: red;
}

text {
  font-family: sans-serif;
}

.tick text {
  font-size: 1.6em;
  fill: #635F5D;
}

.tick line {
  stroke: #C0C0BB;
  opacity: 0.4;
}

.title{
  font-size: 2em;
  text-align: center;
}

#menus {
  font-size: 1em;
  border: 100px;
  border-style: solid black;
}

#menus select {
  font-size: 1rem;
}

#menus select option {
  font-size: 1rem;
}

#scatterPlot {
  border: 100px;
  border-style: solid black;
}

#tooltip {
  opacity:0;
  position: absolute;
  padding: 5px;
  width: 200px;
  height: 28px;
  pointer-events: none;
}