* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: 'Product Sans Black';
  src: url('../fonts/Product Sans Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Product Sans Bold';
  src: url('../fonts/Product Sans Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Product Sans Regular';
  src: url('../fonts/Product Sans Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Product Sans Light';
  src: url('../fonts/Product Sans Light.ttf') format('truetype');
}

div {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: middle;
  border-style: none;
}

.bg-white {
  background-color: #ffffff;
}

.bg-lgray {
  background-color: #f1f1f1;
}

.bg-color {

}

.bg-ldgray {
  background-color: #1a1a1a;
}

.bg-dgray {
  background-color: #111111;
}

.tx-white {
  color: #ffffff;
}

.tx-black {
  color: #000000;
}

.tx-lgray {
  color: #f1f1f1;
}

.tx-gray {
  color: #adadad;
}

.tx-viseyeblue {
  color: #498fff;
}

.tx-ldgray {
  color: #1a1a1a;
}

.tx-dgray {
  color: #111111;
}

.tmar-small {
  margin-top: 20px;
}

.tmar-med {
  margin-top: 40px;
}

.tmar-big {
  margin-top: 60px;
}

.bmar-small {
  margin-bottom: 20px;
}

.bmar-med {
  margin-bottom: 40px;
}

.bmar-big {
  margin-bottom: 60px;
}

.app {
  background-color: #000000;
  background-image: url('https://source.unsplash.com/random/3840x2160');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

.container {
  height: calc(100vh);
  padding-left: calc(20vw);
  padding-right: calc(20vw);
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingbox {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 80px;
  padding-bottom: 80px;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.25);
  margin: auto;
}

.landingbox h1 {
  font-size: 50px;
  font-family: 'Product Sans Black';
  font-weight: 400;
}

.landingbox p {
  font-family: 'Product Sans Light';
  font-weight: 400;
}

.p {
  font-size: 24px;
}

.ps {
  font-size: 18px;
}

.pps {
  font-size: 12px;
  text-align: center;
}
