body {
  margin: 0;
  overflow: hidden;
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

circle {
  fill: #333;
  opacity: 0.7;
}

circle:hover {
  fill: red;
}

text {
  font-family: sans-serif;
}

.tick text {
  font-size: 1.6em;
  fill: #635F5D;
}

.tick line {
  stroke: #C0C0BB;
  opacity: 0.4;
}

.title{
  font-size: 2em;
  text-align: center;
}

#menus {
  font-size: 1em;
  border: 100px;
  border-style: solid black;
}

#menus select {
  font-size: 1rem;
}

#menus select option {
  font-size: 1rem;
}

#scatterPlot {
  border: 100px;
  border-style: solid black;
}

#tooltip {
  opacity:0;
  position: absolute;
  padding: 5px;
  pointer-events: none;
  color: white;
  font-family: sans-serif;
  font-size: 0.6em;
  font-weight: bold;
  box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.5);
  background-color: #333;
  border-radius: 4px;
}

.axis-label {
  font-size: 3em;
  fill: #8E8883;
}

#play-button {
  position: absolute;
  top: 0px;
  left: 310px;
  background: #f08080;
  padding-right: 26px;
  border-radius: 3px;
  border: none;
  color: white;
  margin: 0;
  padding: 0 12px;
  width: 60px;
  cursor: pointer;
  height: 25px;
}

#checkBox_id {
  position: absolute;
  top: 0px;
  left: 205px;
  color: white;
  width: 20px;
  height: 20px;
}

#labelCheckBox {
  position: absolute;
  top: 6px;
  left: 230px;
}


#cumulativeCheck-Box {
  position: absolute;
  top: 5px;
  left: 45px;
}

#play-button:hover {
  background-color: #696969;
}    

.ticks {
  font-size: 28px;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #dcdcdc;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

.vis {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  width: 100vw;
}
.vis > div {
  --margin: 1em;
  margin: var(--margin)
}
#attentionMap {
  flex: 3 0 calc(75% - var(--margin));
}

#mini {
  flex: 1 0 calc(25% - var(--margin));
}

.apperture {
    /* Occupy the full viewport */
    width: 100%;
    height: 100%;
}