#drop_zone{
  font-family: "Verdana", "Arial", serif;
  text-align: center;
  padding: 10px;
  border-style: dotted;
  border-color: black;
  border-radius: 10px;
}

#upload_box{
  background-color: white;
  display: none;
  width: 26%;
  box-sizing: border-box;
}

#visualization{
  background-color: white;
  display: none;
}

#saveButton{
  width: 40px;
  height: 30px;
}
