#drop_zone{
  font-family: "Verdana", "Arial", serif;
  text-align: center;
  width: 140px;
  height: 40px;
  padding: 10px;
  margin: 4px;
  border-color: black;
  border-radius: 10px;
  background-color: white;
}

#list{
  font-family: "Verdana", "Arial", serif;
  text-align: center;
  width: 140px;
  height: 40px;
  padding: 10px;
  margin: 4px;
  border-color: black;
  border-radius: 10px;
  background-color: white;
}

#upload_box{
  background-color: white;
  padding: 40px;

}
