* {
  margin: 0px;
  padding: 0px;
  /* overflow: hidden; */
  box-sizing: border-box;
}

div {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: middle;
  border-style: none;
}

.bg-white {
  background-color: #ffffff;
}

.bg-lgray {
  background-color: #f1f1f1;
}

.bg-ldgray {
  background-color: #1a1a1a;
}

.bg-dgray {
  background-color: #111111;
}

.tx-white {
  color: #ffffff;
}

.tx-black {
  color: #000000;
}

.tx-lgray {
  color: #f1f1f1;
}

.tx-gray {
  color: #adadad;
}

.tx-viseyeblue {
  color: #498fff;
}

.tx-ldgray {
  color: #1a1a1a;
}

.tx-dgray {
  color: #111111;
}

.tmar-mini {
  margin-top: 5px;
}

.tmar-tiny {
  margin-top: 10px;
}

.tmar-small {
  margin-top: 20px;
}

.tmar-med {
  margin-top: 40px;
}

.tmar-big {
  margin-top: 60px;
}

.bmar-mini {
  margin-bottom: 5px;
}

.bmar-tiny {
  margin-bottom: 10px;
}

.bmar-small {
  margin-bottom: 20px;
}

.bmar-med {
  margin-bottom: 40px;
}

.bmar-big {
  margin-bottom: 60px;
}

.backdrop {
  background-color: #000000;
  background-image: url('https://source.unsplash.com/random/3840x2160/?data');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

.container {
  height: calc(100vh);
  padding-left: calc(20vw);
  padding-right: calc(20vw);
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingbox {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 80px;
  padding-bottom: 80px;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.25);
  margin: auto;
}

.footer {
  margin-left: -100px;
  margin-right: -100px;
  margin-bottom: -80px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo-text {
  font-size: 50px;
  font-family: 'Product Sans Black';
  font-weight: 400;
  color: #000000;
}

.selectMenu {
  padding: 10px;
  color: #000000;
  border: 0px;
  font-size: 16px;
  font-family: 'Product Sans Regular';
  font-weight: 400;
  border-radius: 3px;
  text-align-last: center;
}

.slider {
  width: 100%;
}

.button {
  padding: 10px;
  color: #ffffff;
  border: 0px;
  font-size: 18px;
  font-family: 'Product Sans Bold';
  font-weight: 400;
  border-radius: 3px;
  text-transform: uppercase;
}

.button-blue {
  background-color: #498fff;
}

.button-blue:hover {
  background-color: #3978dd;
}

.button-blue:active {
  background-color: #2b67c7;
}

.button-green {
  background-color: #3dc431;
}

.button-green:hover {
  background-color: #2fa724;
}

.button-green:active {
  background-color: #27921d;
}

.button-orange {
  background-color: #e66f1a;
}

.button-orange:hover {
  background-color: #c96219;
}

.button-orange:active {
  background-color: #ad5718;
}

.uploadbutton {
  display: none;
}

.inline-block {
  display: inline-block;
}

.label {
  top: 6px;
  left: 230px;
  color: #666666;
  font-family: 'Product Sans Regular';
  font-weight: 400;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
}

.p {
  font-family: 'Product Sans Light';
  font-weight: 400;
  font-size: 24px;
}

.ps {
  font-family: 'Product Sans Light';
  font-weight: 400;
  font-size: 18px;
}

.pps {
  font-family: 'Product Sans Bold';
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}

.center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
}

.load-bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: wait;
  transition: all .5s ease-out;
  display: block;
}

.hidden {
  display: none;
}

.visuallyhidden {
  opacity: 0;
}

.load-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load-box {
  margin: auto;
}

.load-title {
  text-align: center;
  font-size: 50px;
  font-family: 'Product Sans Bold';
  font-weight: 400;
  color: #FFFFFF;
}


.load-text {
  font-family: 'Product Sans Regular';
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}

.visualization-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.height-fix {
  margin-top: -20px;
  margin-bottom: -20px;
}

.visrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.viscol {
  position: relative;
  width: 100%;
  min-height: 1px;
  height: 85vh;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.vismenurow {
  width: 100%;
  text-align: center;
}

.widebox {
  margin-left: -15px;
  margin-right: -15px;
}

.wideboxcol {
  padding-left: 15px;
  padding-right: 15px;
}

.wide15 {
  width: 15vw;
}

.wide85 {
  width: 85vw;
}

.col15 {
  flex: 0 0 15%;
  max-width: 15%;
}

.col20 {
    flex: 0 0 20%;
    max-width: 20%;
}

.col80 {
    flex: 0 0 80%;
    max-width: 80%;
}

.col85 {
  flex: 0 0 85%;
  max-width: 85%;
}

.bottom-align {
  position: absolute;
  bottom: 0;
  padding-right: 15px;
  padding-left: 15px;
}

.vw15 {
  width: 15vw;
}

.vw17 {
  width: 17vw;
}

.left-zero {
  left: 0;
}

.right-zero {
  right: 0;
}

.order2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.topbar {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.topcol {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.vert-align {
  display: table-cell;
  vertical-align: middle;
}

.topbar-title {
  font-size: 50px;
  font-family: 'Product Sans Black';
  font-weight: 400;
  text-align: center;
}

.plot-title {
  font-size: 22px;
  font-family: 'Product Sans Bold';
  font-weight: 400;
  color: #666666;
}

.full-width {
  width: 100%;
}

input[type="range"] { 
  margin: auto;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: 20px;
  cursor: pointer;
  border-radius: 3px; /* iOS */
  -webkit-box-shadow: 0px 0px 0px 1px rgba(26,26,26,1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(26,26,26,1);
  box-shadow: 0px 0px 0px 1px rgba(26,26,26,1);
}

::-webkit-slider-runnable-track {
  background: #ddd;
}

/*
* 1. Set to 0 width and remove border for a slider without a thumb
*/
::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px; /* 1 */
  height: 20px;
  background: #fff;
  box-shadow: -100vw 0 0 100vw #498fff;
}

::-moz-range-track {
  height: 20px;
  background: #ddd;
}

::-moz-range-thumb {
  background: #fff;
  height: 20px;
  width: 20px;
  border-radius: 0 !important;
  box-shadow: -100vw 0 0 100vw #498fff;
  box-sizing: border-box;
}

::-ms-fill-lower { 
  background: #498fff;
}

::-ms-thumb { 
  background: #fff;
  height: 20px;
  width: 20px;
  box-sizing: border-box;
}

::-ms-ticks-after { 
  display: none; 
}

::-ms-ticks-before { 
  display: none; 
}

::-ms-track { 
  background: #ddd;
  color: transparent;
  height: 20px;
  border: none;
}

::-ms-tooltip { 
  display: none;
}